/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
_ide_helper.php
_ide_helper_models
app.yaml
firebase-admin.json
cloud_sql_proxy
whatsapp-de-vendas-281219-b7d898bb1f89.json