<ion-navbar color="green-dark">
  <ion-buttons left>
    <button ion-button icon-only (click)="back()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  </ion-buttons>  
  <ion-searchbar #searchbar
    placeholder="Procurar..." 
    inputmode="search"     
    (search)="onKeyPressed($event)">
  </ion-searchbar>  
  <ion-buttons right>
    <!-- <button ion-button icon-only (click)="filter()">
      <ion-icon name="search"></ion-icon>
    </button> -->
    <button ion-button icon-only (click)="openProductSearchOptions()">
      <ion-icon name="options"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>