<ion-navbar color="green-dark">
  <ion-buttons left>
    <button ion-button icon-only (click)="back()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  </ion-buttons>  
  <ion-searchbar #searchbar
    placeholder="Procurar..." 
    inputmode="search"     
    [(ngModel)]="search"
    (ionChange)="autocomplete()"
    (search)="onSearchPressed($event)">
  </ion-searchbar>  
  <ion-list [hidden]="!search">
    <ion-item (click)="suggestionSelected(suggestion)" *ngFor="let suggestion of suggestions">{{ suggestion.name }}</ion-item>
  </ion-list>
  <ion-buttons right>
    <!-- <button ion-button icon-only (click)="filter()">
      <ion-icon name="search"></ion-icon>
    </button> -->
    <button ion-button icon-only (click)="openProductSearchOptions()">
      <ion-icon name="options"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>