product-searchbar {

}

super-tabs-toolbar {        
    visibility: visible;
    opacity: 1;
    height: 48px;
    transition: visibility 0s, opacity 0.1s linear;
}
super-tabs-toolbar.hidden {        
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin-bottom: 48px;
}
super-tabs-container.fixed {
    height: 100%;
    overflow: visible;
}
super-tab.fixed {
    width: 360px;
    margin-top: -48px;
    height: calc(100% + 48px);
}
.toolbar-content-ios {
    margin-top: -3px !important;
}