<ion-header>
  <ion-navbar color="green-dark">
    <ion-buttons left>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>       
    </ion-buttons>
    <ion-title>Filtros</ion-title>     
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <button ion-button icon-only class="btn-order btn-round"
            [ngClass]="{'selected': productSearch.options.orderBy == 'latest'}"             
            (click)="productSearch.options.orderBy = 'latest'">
            <ion-icon name="arrow-up"></ion-icon>
          </button>
          <br>
          <span ion-text >Mais novos</span>
        </ion-col>
        <ion-col text-center>
          <button ion-button icon-only class="btn-round" class="btn-order btn-round"
            [ngClass]="{'selected': productSearch.options.orderBy == 'oldest'}" 
            (click)="productSearch.options.orderBy = 'oldest'">
            <ion-icon name="arrow-down"></ion-icon>            
          </button>
          <br>
          <span ion-text >Mais velhos</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-label color="light">Categorias</ion-label>
    <ion-select [(ngModel)]="productSearch.options.categories" multiple="true" cancelText="Cancelar" okText="Ok">
      <ion-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</ion-option>
    </ion-select>    
  </ion-item>
  <p color="green-dark" text-center>
    <button ion-button color="primary" (click)="filter()">Aplicar filtro</button>
  </p>
</ion-content>