<ion-header>
  <ion-navbar color="green-dark">
    <ion-buttons left>
      <button ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>       
    </ion-buttons>
    <ion-title>Busca de produtos</ion-title>     
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item color="green-dark">
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <button ion-button icon-only class="btn-round" 
            [color]="productSearch.options.orderBy == 'latest' ? 'green-dark' : 'dark'" 
            (click)="productSearch.options.orderBy = 'latest'">
            <ion-icon name="list-box"></ion-icon>
          </button>
          <br>
          <span ion-text >Mais novos</span>
        </ion-col>
        <ion-col text-center>
          <button ion-button icon-only class="btn-round"
            [color]="productSearch.options.orderBy == 'latest' ? 'dark' : 'green-dark'" 
            (click)="productSearch.options.orderBy = 'oldest'">
            <ion-icon name="paper"></ion-icon>            
          </button>
          <br>
          <span ion-text >Mais velhos</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item color="green-dark">
    <ion-label color="light">Categorias</ion-label>
    <ion-select [(ngModel)]="productSearch.options.categories" multiple="true" cancelText="Cancelar" okText="Ok">
      <ion-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</ion-option>
    </ion-select>
  </ion-item>
</ion-content>

<ion-footer>
  <button ion-button block color="green-dark" outline no-margin>Aplicar filtro</button>
</ion-footer>