<div class="row">
    <h1>Listagem de categoria</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <td colspan="5">
                    <button>Nova categoria</button>
                </td>
            </tr>
            <tr>
                <td style="width: 5%">ID</td>
                <td style="width: 65%">Nome</td>
                <td style="width: 10%">Ativa?</td>
                <td style="width: 10%">Criada em</td>
                <td style="width: 10%">Ações</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Ativa?</td>
                <td>Criada em</td>
                <td>Ações</td>
            </tr>
        </tbody>
    </table>
</div>