<div class="row">
    <h1>Listagem de categoria</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <td colspan="5">
                    <button class="btn btn-primary" (click)="showModal()">Nova categoria</button>
                </td>
            </tr>
            <tr>
                <td style="width: 5%">ID</td>
                <td style="width: 60%">Nome</td>
                <td style="width: 10%">Ativa?</td>
                <td style="width: 10%">Criada em</td>
                <td style="width: 15%">Ações</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <i class='fas' [ngClass]="{'fa-check' : category.active, 'fa-times' : !category.active}"></i>  
                </td>
                <td>{{ category.created_at.date | date: 'dd/MM/yyyy' }}</td>
                <td>Editar | Excluir</td>
            </tr>
        </tbody>
    </table>
</div>
<category-new-modal (onSucess)="onInsertSuccess($event)" (onError)="onInsertError($event)"></category-new-modal>