<div class="row"> 
    <h1>Listagem de produtos</h1>
    <div class="col-12" style="margin-top: 25px;margin-bottom: 25px;">
        <div class="row">
            <div class="col-auto">
                <button class="btn btn-primary" (click)="productInsertService.showModalInsert()">Novo produto</button> 
            </div>
            <div class="col-auto">
                <product-search-form (onSearch)="search($event)"></product-search-form>
            </div>
        </div>        
    </div>
    <table class="table table-bordered">
        <thead class="thead-dark">            
            <tr>
                <th style="width: 6%" [sortColumn]="sortColumn" columnName="id" (onSort)="sort()">ID</th>
                <th style="width: 42%" [sortColumn]="sortColumn" columnName="name" (onSort)="sort()">Nome</th>
                <th style="width: 10%" [sortColumn]="sortColumn" columnName="price" (onSort)="sort()">Preço</th>
                <th style="width: 8%">Ativa?</th>
                <th style="width: 12%" [sortColumn]="sortColumn" columnName="created_at" (onSort)="sort()">Criada em</th>
                <th style="width: 22%">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of categories | paginate: {itemsPerPage: 5, currentPage: pagination.page, totalItems: pagination.totalItems}">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price | numberFormatBr }}</td>
                <td class="active">
                    <i class='fas' [ngClass]="{'fa-check' : product.active, 'fa-times' : !product.active}"></i>  
                </td>
                <td>{{ product.created_at.date | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <a href="javascript:void(0)" (click)="productEditService.showModalEdit(product.id)">
                        <i class="fas fa-edit"></i>
                    </a> |
                    <a href="javascript:void(0)" (click)="productDeleteService.showModalDelete(product.id)">
                        <i class="fas fa-trash-alt"></i>
                    </a> | 
                    <a class="badge badge-info" [routerLink]="['/products', product.id, 'categories', 'list']">CATEGORIAS</a> |
                    <a class="badge badge-info" [routerLink]="['/products', product.id, 'photos', 'manager']">FOTOS</a>
                </td>
            </tr>
        </tbody>
    </table>

    <pagination-controls (pageChange)="pageChanged($event)" 
        previousLabel="Anterior"
        nextLabel="Próximo">
    </pagination-controls>
</div>

<product-new-modal 
    (onSuccess)="productInsertService.onInsertSuccess($event)" 
    (onError)="productInsertService.onInsertError($event)">
</product-new-modal>

<product-edit-modal [productId]="productId" 
    (onSuccess)="productEditService.onEditSuccess($event)" 
    (onError)="productEditService.onEditError($event)">
</product-edit-modal>

<product-delete-modal [productId]="productId" 
    (onSuccess)="productDeleteService.onDeleteSuccess($event)" 
    (onError)="productDeleteService.onDeleteError($event)">
</product-delete-modal>