<div class="row">
    <h1>Categorias de produto - {{ product?.name }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <td colspan="5">
                    <form class="form-inline" (submit)="submit()">
                        <div class="col-auto">
                            <label for="categories[]">Categorias</label>
                            <select name="categories[]" id="categories[]" class="form-control" multiple (change)="change()" [(ngModel)]="categoriesId">
                                <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Incluir categorias</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td style="width: 5%">ID</td>
                <td style="width: 65%">Nome</td>
                <td style="width: 5%">Ativa?</td>
                <td style="width: 10%">Criada em</td>
                <td style="width: 15%">Ações</td>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let category of productCategory?.categories">
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td class="active">
                    <i class='fas' [ngClass]="{'fa-check' : category.active, 'fa-times' : !category.active}"></i>
                </td>
                <td>{{ category.created_at.date | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <a href="javascript:void(0)" (click)="categoryDeleteService.showModalDelete(category.id)">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>