page-customer-create {
    ion-item {
        padding-left: 0 !important;
    }
    #btn-choose-photo {
        margin-left: 0;
        margin-top: 20px;
    }
    ion-card {
        margin: 0 !important;
        margin-bottom: 20px !important;
        width: 100% !important;
    }
    ion-avatar {
        margin-left: 12px !important;
    }
    ul {
        background: crimson;
        color: #fff;
        padding: 15px 15px 5px;
        border-radius: 5px;
    }
    ul li {
        margin-left: 15px;
        margin-bottom: 10px;
    }
}
