<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingText='Puxe para atualizar'refreshingText="carregando"></ion-refresher-content>
    </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let order of orders.data">
      <ion-avatar item-start>
        <img [src]="order.product.photo_url | buildUrl" alt="">
      </ion-avatar>
      <h2>{{order.total | numberFormatBr}} - {{order.product.name}}</h2>
      <p text-right>
        <!--<order-status [status]="order.status"></order-status>-->
        {{ order.created_at.date | date: 'dd/MM/yyyy' }}
      </p>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="canMoreOrders">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>