<form class="form-signin">    
    <h1 class="h3 mb-3 font-weight-normal">Meu App - Login</h1>
    <label for="email" class="sr-only">E-mail:</label>
    <input type="email" id="email" class="form-control" placeholder="E-mail:" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Senha:" required>    
    <button class="btn btn-lg btn-primary btn-block" type="submit">ENTRAR</button>
    {{ email }}
</form>